:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f3f7f9;
  /* background-color: gray; */
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inputIcon {
    @apply flex items-center space-x-1 hover:bg-gray-100 flex-grow justify-center p-2 rounded-xl cursor-pointer;
  }
}
